{% extends 'app/base.html' %}
{% load static %}

{% block search %}
<h5>Bạn đã tìm kiếm từ: {{searched}}</h5>
<br/>
<div class="row" style="width:100%">
    {% for product in keys %}
    <div class="col-lg-3">
        <img class="thubnail" src="{{product.ImageURL}}" height="200">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <buttom data-product={{product.id}} data-action="add"
                    class="btn  btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng
            </buttom>
            <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">Xem</a>
            <h4 style="display: inline-block; float: right; color: red"><strong>{{product.price}}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock search %}
